.swipe {
  position: relative;
  text-align: center;
  height: 3em;
}
.swipe .sentence {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  color: transparent;
}
.swipe .sentence .line-wrap {
  position: relative;
  display: block;
  width: 100%;
  color: transparent;
  -webkit-transition: color 1ms;
  transition: color 1ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.swipe .sentence .line-wrap:nth-child(2) {
  -webkit-transition-delay: 666.66667ms;
          transition-delay: 666.66667ms;
}
.swipe .sentence .line-wrap:nth-child(3) {
  -webkit-transition-delay: 833.33333ms;
          transition-delay: 833.33333ms;
}
.swipe .sentence .line-wrap:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #EBE8E1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.swipe .sentence--show {
  z-index: 2;
}
.swipe .sentence--show .line-wrap {
  color: #333;
}
.swipe .sentence--show .line-wrap:after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}
.swipe .sentence--show .line-wrap:nth-child(2):after {
  -webkit-transition-delay: 166.66667ms;
          transition-delay: 166.66667ms;
}
.swipe .sentence--show .line-wrap:nth-child(3):after {
  -webkit-transition-delay: 333.33333ms;
          transition-delay: 333.33333ms;
}

body {
  background: #F0CF61;
  color: #333;
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  font-size: 5vw;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
