.center
		p.swipe 
			span.sentence.sentence--show Do you not think so far ahead? Because I've been thinking about forever
			span.sentence I remember how I forget how you feel. How you were the first for me

